.venv
__pycache__/
*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
.vscode
dist
build
uv.lock

*.db
*.db-wal
*.db-shm
# Vite build outputs
datasette_libfec/static/gen/
datasette_libfec/manifest.json
